<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Delete Post</h4>
	</div>
	<div class="modal-body">
		<p>Are You Sure You Want To Delete This Post ?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary"
				(click)="closePopup()">
		Close
		</button>
		<button type="button" class="btn btn-danger"
				(click)="DeletePost(idOfDeletedPost)">
		Delete
		</button>
	</div>
	</div>
</div>
</div>


<div class="container">
  <div class="row" *ngFor="let post of allPosts">
    <div class="col-md-12">
      <div class="postBox shadow m-3">
        <div class="d-flex justify-contnet-start flex-wrap">
          <div class="m-1">
            <button class="btn btn-primary" [routerLink]="['/panel/single-post/',post.id]">View Post</button>
          </div>
          <div class="m-1">
            <button class="btn btn-danger" (click)="openPopup(post.id)">Delete Post</button>
          </div>
          <div class="m-1">
            <button class="btn btn-secondary"  [routerLink]="['/panel/comments/control/',post.id]">View Comments</button>
          </div>
        </div>
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>
      </div>
    </div>

  </div>
</div>
